
.vertical-menu {
    width: 200px;
}
  
.vertical-menu a {
    background-color: #3ea8ff;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
  
.vertical-menu a:hover {
    background-color: #ff0077;
}
  /* 

img {
    width: 200px;
    height: 200px;
}
*/