.vertical-menu {
    width: 200px;
}
  
.vertical-menu a {
    background-color: #00a2ff;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
  
.vertical-menu a:hover {
    background-color: #ff00b3;
}
  
img {
    width: 400px;
    height: 400px;
}