
.vertical-menu {
    width: 400px;
}
  
.vertical-menu a {
    
    background-color: #3ea8ff;
    color: rgb(0, 0, 0);
    display: block;
    padding: 40px;
    text-decoration: none;
    
}
  
.vertical-menu a:hover {
    background-color: #ff00aa;
}


img {
    width: 400px;
    height: 400px;
}